@charset "UTF-8";
@import url(./reset.css);


#wrap{width: 100%; height: 100%; }
#wrap #header {width: 100%; height: 100px; background-color: #f0f0f0; position: relative; z-index: 3;}
#wrap #header .container {width: 1200px; height: 100px; margin: 0 auto;position: relative;}

#wrap #header .container .sub-bg {display: none; width: 1200px; height: 160px; background: #333; position: absolute; top: 99px; left: 0; z-index: 1;}
#wrap #header .container .wrap {width: 100%; height: 100%; display: flex; position: relative; z-index: 2;}


#wrap #header .container .wrap #logo {width: 200px height: 100%;}
#wrap #header .container .wrap #logo a {display: block; width: 100%; height: 40px; margin: 30px 0;}
#wrap #header .container .wrap #logo a img {width: 100%;}



#wrap #header .container .wrap #nav {width: 1000px; height: 100px;}
#wrap #header .container .wrap #nav > ul {width: 700px;  display: flex; margin: 50px 0 0 auto;}
#wrap #header .container .wrap #nav > ul > li {width: 25%; height: 50px; border: 1px solid #ccc; border-radius: 10px 10px 0 0; }
#wrap #header .container .wrap #nav > ul > li > a {width: 100%; height: 100%; display: block; font-size: 15px; 
text-align: center; font-weight: 600; line-height: 50px; background: #fff; border-radius: 10px 10px 0 0;}
#wrap #header .container .wrap #nav > ul > li > a:hover{background: #333; color: #fff;}
#wrap #header .container .wrap #nav > ul > li > a.on{background: #333; color: #fff;}

#wrap #header .container .wrap #nav > ul > li .sub {display: none; width: 100%; position: relative; z-index: 2;}
#wrap #header .container .wrap #nav > ul > li .sub ul{width: 100%; }
#wrap #header .container .wrap #nav > ul > li .sub ul li{width: 100%; line-height: 35px;}
#wrap #header .container .wrap #nav > ul > li .sub ul li a{display: block; text-align: center; color: #fff; background: #333;}
#wrap #header .container .wrap #nav > ul > li .sub ul li a:hover{background: #444; color: #fff;}




#wrap #main {width: 100%;  position: relative; z-index: 2;}

#wrap #main #section1 {width: 100%; height: 300px;}
#wrap #main #section1 .container{ width: 1200px ; height: 300px; margin: 0 auto; }
#wrap #main #section1 .container .slide-container {width: 100%; position: relative;}
#wrap #main #section1 .container .slide-container .slide-view {width: 100%;position: relative; overflow: hidden;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap {width: 500%; margin-left: -100%; display: flex; position: relative; height: 300px;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide {width: 1200px ; height: 100%; background: url() no-repeat 50% 50%; background-size: cover; display: flex;}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide1 {background-image: url(../images/img1.jpg);}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide2 {background-image: url(../images/img2.png);}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide3 {background-image: url(../images/img3.jpg);}

#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide strong {font-size: 36px; color: #fff; font-weight: 600; text-align: center;
    margin: auto 0; user-select: none; width: 100%; line-height: 60px; user-select: none; }
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide1 strong {background-color: rgba(164, 134, 74, 0.674); }
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide2 strong {background-color: rgba(64, 67, 65, 0.505);}
#wrap #main #section1 .container .slide-container .slide-view .slide-wrap .slide3 strong {background-color: rgba(36, 26, 8, 0.674);}









#wrap #main #section2 {width: 100%; height: 200px;}
#wrap #main #section2 .container{width: 1200px; height: 200px; margin: 0 auto; display: flex; }
#wrap #main #section2 .container .left {width: 400px;height: 100%;position: relative;}
#wrap #main #section2 .container .left button {width: 100px; height: 35px; border: 1px solid #ccc; position: absolute;
top: 2px; border-radius: 5px 5px 0 0; border-bottom: none;}
#wrap #main #section2 .container .left .notice-btn { background: #fff; left: 10px;}
#wrap #main #section2 .container .left .notice-box { width: 100%; height: 164px; border: 1px solid #ccc;margin: 36px 0 0 0;}
#wrap #main #section2 .container .left .notice-box .notice-gap {padding: 15px 10px;}
#wrap #main #section2 .container .left .notice-box .notice-gap ul {width: 100%;}
#wrap #main #section2 .container .left .notice-box .notice-gap ul li {width: 100%; line-height: 33px; position: relative; padding: 0 90px 0 13px;}
#wrap #main #section2 .container .left .notice-box .notice-gap ul li a { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: all .3s; font-size: 13px;}
#wrap #main #section2 .container .left .notice-box .notice-gap ul li a::before {content: ''; width: 3px; height: 3px; background: #333; position: absolute; top: 50%; left: 0; margin-top: -1.5px;}
#wrap #main #section2 .container .left .notice-box .notice-gap ul li a span {display: block; position: absolute; top: 0; right: 0;}
#wrap #main #section2 .container .left .notice-box .notice-gap ul li a:hover {color: #0066ad;}








#wrap #main #section2 .container .center {width: 400px;height: 100%; position: relative;}
#wrap #main #section2 .container .center button {width: 100px; height: 35px; border: 1px solid #ccc; position: absolute;
    top: 2px; border-radius: 5px 5px 0 0; border-bottom: none;}
#wrap #main #section2 .container .center .gallery-btn { background: #fff; left: 10px;}
#wrap #main #section2 .container .center .gallery-box  { width: 100%; height: 164px; border: 1px solid #ccc;margin: 36px 0 0 0; border-left: none; border-right: none;}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap {padding: 15px 5px; height: 100%;}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap ul {width: 100%; height: 100%; display: flex;}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap ul li {width: 33.333%; height: 100%;}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap ul li .img-gap { padding: 0 5px ; width: 100%; height: 100%;}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap ul li .img-gap .img-bg{width: 100%; height: 100%; background: url() no-repeat 50% 50%; background-size: cover;}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap ul li:nth-child(1) .img-gap .img-bg{background-image: url(../images/gal1.png);}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap ul li:nth-child(2) .img-gap .img-bg{background-image: url(../images/gal2.png);}
#wrap #main #section2 .container .center .gallery-box  .gallery-gap ul li:nth-child(3) .img-gap .img-bg{background-image: url(../images/gal3.png);}











#wrap #main #section2 .container .right {width: 400px;height: 100%;}
#wrap #main #section2 .container .right .gap {padding: 2px 0 10px 0;}
#wrap #main #section2 .right .gap .title{width: 100%; height: 34px; display: flex; border: 1px solid #ccc; border-radius: 5px 5px 0 0 ; border-bottom: none;}
#wrap #main #section2 .right .gap .title h2 {font-size: 17px; width: 100%; margin: auto 0; text-align: center; font-weight: 700;}
#wrap #main #section2 .right .gap .img-box {width: 100%; border:1px solid #ccc; border-top: none; }
#wrap #main #section2 .right .gap .img-box ul {width: 100%; height: 163px;}
#wrap #main #section2 .right .gap .img-box ul li {width: 100%; height: 50%;}
#wrap #main #section2 .right .gap .img-box ul li .img-gap {padding: 5px 0; height: 100%;}
#wrap #main #section2 .right .gap .img-box ul li .img-gap .img-bg {width: 100%; height: 100%; background: url() no-repeat 50% 50%; background-size: cover;display: flex; filter: brightness(80%); }
#wrap #main #section2 .right .gap .img-box ul li:nth-child(1) .img-gap .img-bg {background-image: url(../images/banner.png);}
#wrap #main #section2 .right .gap .img-box ul li:nth-child(2) .img-gap .img-bg {background-image: url(../images/banner.jpg);}
#wrap #main #section2 .right .gap .img-box ul li .img-gap .img-bg h3 {width: 100%; font-weight: 600; text-align: center; color: #fff; margin: auto 0; background-color: rgba(51, 51, 51, 0.458)  ; line-height: 30px; font-size: 16px;}

#wrap #main #section2 .right .gap .img-box ul li:hover .img-gap .img-bg {filter: brightness(100%);}









#wrap #footer {width: 100%; height: 100px; background-color: #f0f0f0; position: relative; z-index: 1;}

#wrap #footer .container {width: 1200px; height: 100px; margin: 0 auto;position: relative;display: flex;}
#wrap #footer .container .left{width: 1000px; height: 100%; }
#wrap #footer .container .left .top{width: 100%; height: 50%; }

#wrap #footer .container .left .top p { font-size: 11px; text-align: center; line-height: 50px; color: #555;}



#wrap #footer .container .left .bottom {width: 100%;height:50%; text-align: center; line-height: 20px;}
#wrap #footer .container .left .bottom span  {margin: 0 2px;}
#wrap #footer .container .left .bottom span a {font-size: 13px; color: #555;}
#wrap #footer .container .left .bottom span a:hover{color: #333; text-decoration: underline;}
#wrap #footer .container .right{width: 200px; height: 100%;  }


























#wrap #modal {width: 100%; height: 100%; top: 0; left: 0; position: fixed; z-index: 4; background: rgba(0,0,0, .5); display: none;}
#wrap #modal.on {display: flex;}
#wrap #modal .container{width: 700px; height: 420px; margin:152.8px auto; background: #fff; }
#wrap #modal .container .gap {padding: 40px 30px;}
#wrap #modal .container .gap ul{width: 100%;}
#wrap #modal .container .gap ul li{width: 100%;}
#wrap #modal .container .gap ul li h2{font-size: 25px; text-align: center; font-weight: 600; line-height: 50px; background-color: #2c533d;color: #fff;}
#wrap #modal .container .gap ul li h3 { font-size: 16px; font-weight: 600; background-color: #abc3b7; line-height: 20px; padding: 0 30px 20px 0 ; text-align: right;}
#wrap #modal .container .gap ul li strong {display: block; font-size: 20px; text-align: center; line-height: 50px; background-color: #abc3b7; padding: 15px 0 0 0;}
#wrap #modal .container .gap ul li p {font-size: 14px; line-height: 160%; text-align: center; padding: 50px 15px; background-color: rgb(246, 242, 242);}

#wrap #modal .container .gap .button-box {padding: 20px 0 0 0; text-align: right;}
#wrap #modal .container .gap .button-box button {width: 80px; height: 40px; border: 1px solid #ccc; cursor: pointer ; background: #fff;}
#wrap #modal .container .gap .button-box button:hover{background: #ddd;}









